<div class="horiz">
<h2>{{ listShowed }}</h2>
<button (click)="togglePopup()" class="btn btn-secondary addTaskButton">Add Task</button>
</div>

<div class="taskNamePopUp" [class.show]="showPopup" [formGroup]="form">
  <button (click)="closePopUp()" class="btn btn-danger m-2 close">×</button>

  <label for="nameOfTask"> Add your Task:</label>
  <input
    type="text"
    name="nameOfTask"
    [(ngModel)]="taskName"
    (click)="$event.stopPropagation()"
    class="form-control"
    formControlName="name"
  />
  <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
    <div *ngIf="name?.errors?.['minlength']">The name must be 3 letters or more</div>
  </div>
  <button (click)="addTasks()" class="btn btn-success" [disabled]="form.invalid">Add</button>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle m-2"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Add to List
    </button>


    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" *ngFor="let list of lists" (click)="selectList(list)">{{
        list
      }}</a>
    </div>
    <div class="alert alert-success" *ngIf="isListSelected">You 've Selected a {{ listSelected }} list</div>
  </div>
</div>
<div class="task form-check" >
  <ul>
    <li *ngFor="let task of filteredTasks" class="check p-3 m-3" [class.done-task]="task.completed" >
      <input
        name="allTasks"
        type="checkbox"
        class="form-check-input m-2 form-control"
        [checked]="task.completed"
        (change)="onCheckboxChange(task, $event)"
      />
      <label class="form-check-label taskText"> {{ task.title }}</label>
    </li>
  </ul>
</div>
  <p *ngIf="isClicked" class="listEvent">Task was created!</p>
